.ph {
    width: 25%;
    margin-top: 5%;
    margin-left: 37%;
}

.Cart1 .FullName,
.Cart1 .Adress {
    display: flex;
    display: inline-flex;
    margin-left: 6%;
    color: #337180;
    justify-content: center;
    font-weight: 400;
}

.Cart1 {
    background-color: #fffdfd;
    width: 350px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
    margin-left: 15%;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.App {
    display: flex;
    flex-direction: row;
    margin-top: 13%;
}

.fb,
.fa,
.ai {
    color: white;
    margin-left: 20%;
    margin-top: 20px;
    cursor: pointer;
}

.icons {
    background-color: #337180;
    padding: 20px;
    font-size: 23px;
    border-radius: 0 0 15px 15px;

}

.Cart2 .Part1 {
    display: flex;
    flex-direction: row;
    margin-top: 25%;
}

.Part1 .Code {
    width: 40%;
    margin-left: 50%;
}

.Cart2 {
    background-color: #337180;
    width: 350px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
    margin-left: 15%;

}

.Part1 .FullName {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10%;
    white-space: nowrap;
    color: white;
    margin-top: 5%;
}